@import "assets/styles/form";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background: #1e1f22;
  font-size: 1rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
}

.wrapper {
  max-width: 750px;
  background: #26282e;
  margin: 3rem auto;
  padding: 2rem 1rem;
}
